body {
    display: flex;
    margin: 0;
    height: 100vh;
}
.options-menu {
    flex: 1;
    flex-basis: auto;
    background-color: #403050;
    border-right: solid #edeaf1 1px;
    min-width: fit-content;
    max-width: 250px;
    min-width: 100px;
}

#sketchpadFrame {
    box-sizing: border-box;
    display: flex;
    flex: 4;
    background-color: #d2a5d2;
    width: auto;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

#sketchpadFrame > .frame {
    flex: inherit;
    border: 0;
    margin: 0;
    height: 550px;
    width: 550px;
    max-width: 550px;
    max-height: 550px;
    border: solid black 1px;
    align-self: stretch;
    flex: 1;
    box-sizing: border-box;
    background-color: lightgreen;

}
 .row {
    display: flex;
    box-sizing: border-box;
    border: solid black 1px;
    min-width: 10px;
    min-height: 10px;
    height: 20%;
    justify-content: stretch;
 }

 .column {
    border: solid red 1px;
    box-sizing: border-box;
    height: 100%;
    width: 20%;

 }